body {
	 background-attachment: fixed;
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-size: cover;
   background-image: url( 'haikei-bg.svg' );
}

.navbar-expand-lg {
   background-color: #1A2839;
}

img {
	z-index: -1;
}

* {
  box-sizing: border-box;
}

#myInput {
	display: flex;
	float: middle;
	margin-left: auto;
	text-align: center;
  background-image: url('search.svg');
  background-position: 15px 15px;
  background-repeat: no-repeat;
  font-size: 20px;
  margin-right: auto;
  padding: 12px 20px 12px 40px;
}

#table {
	margin-left: auto;
	width: 50% !important;
  font-size: 18px;
  margin-right: auto;
}
table th {
   text-align: center;
}

table td {
   text-align: center;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
row {
  width: 100%;
}
.flex-item {
  background: tomato;
  color: white;
  font-size: 3em;
  font-weight: bold;
  height: 150px;
  line-height: 150px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 200px;
}

.tg-01ax {
    margin: 5px;
    text-align: center;
}


.toast-header strong {
  font-size: 200%;
}

.toast-body {
  font-size: 200%;
}

