body {
   background-image: url( 'haikei-bg.svg' );
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 background-attachment: fixed;
}

.navbar-expand-lg {
    background-color: #1A2839;
}

img {
	z-index: -1;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('search.svg');
  background-position: 15px 15px;
  background-repeat: no-repeat;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
	float: middle;
}

#table {
	width: 50% !important;
  font-size: 18px;
	margin-left: auto;
  margin-right: auto;
}
table th {
   text-align: center;
}

table td {
   text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
row {
  width: 100%;
}
.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.tg-01ax {
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}
